<div class="container">
  <div>
    <div>
      <form (ngSubmit)="createUtilisateur()">
        <hr>
        <h5>Ajouter/Modifier un Utilisateur</h5>
        <!-- Formulaire pour ajouter ou modifier un utilisateur -->
        <table>
          <tr>
            <div class="form-group row">
              <td class="col">
                <label for="disabledTextInput">codeUtilisateur</label>
                <input type="text" class="form-control" [(ngModel)]="utilisateur.codeUtilisateur" name="codeUtilisateur" placeholder="codeUtilisateur" >
              </td>
              <td class="col">
                <label for="disabledTextInput">firstname</label>
                <input type="text" class="form-control" [(ngModel)]="utilisateur.firstname" name="firstname" placeholder="firstname">
              </td>

              <td class="col">
                <label for="disabledTextInput">lastname</label>
                <input type="text" class="form-control" [(ngModel)]="utilisateur.lastname" name="lastname" placeholder="lastname">
              </td>

              <td class="col">
                <label class="mr-sm-2">age</label>
                <input  type="number" class="form-control" [(ngModel)]="utilisateur.age" name="age" placeholder="age">
              </td>
            </div>
            <br>
            <div class="form-group row">
            <td class="col">
                <label for="disabledTextInput">adressUser</label>
                <input type="text" class="form-control" [(ngModel)]="utilisateur.adressUser" name="adressUser" placeholder="adresse">
            </td>
            <td class="col">
                <label for="disabledTextInput">phone</label>
                <input type="text" class="form-control" [(ngModel)]="utilisateur.phone" name="phone" placeholder="phone">
            </td>
            <td class="col">
                <label for="disabledTextInput">emailUser</label>
                <input type="text" class="form-control" [(ngModel)]="utilisateur.emailUser" name="email" placeholder="email">
            </td>
            <td class="col">
                <label for="disabledTextInput">password</label>
                <input type="text" class="form-control" [(ngModel)]="utilisateur.password" name="password" placeholder="password">
            </td>
            </div>
            <br>
            <div>
              <tr>
                <td class="content-center">
                  <button type="submit" class="btn btn-primary">Enregistrer</button>
                </td>
              </tr>
            </div>
            <br>
          </tr>
          <br>
          <h5>Liste des Utilisateurs</h5>
        </table>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>code</th>
              <th>Prénom</th>
              <th>Nom</th>
              <th>age</th>
              <th>adress_user</th>
              <th>phone</th>
              <th>Email</th>
              <th>password</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let utilisateur of utilisateurs">
              <td>{{ utilisateur.codeUtilisateur }}</td>
              <td>{{ utilisateur.firstname }}</td>
              <td>{{ utilisateur.lastname }}</td>
              <td>{{ utilisateur.age }}</td>
              <td>{{ utilisateur.adressUser }}</td>
              <td>{{ utilisateur.phone }}</td>
              <td>{{ utilisateur.emailUser }}</td>
              <td>{{ utilisateur.password  }}</td>
              <td>
                <button type="button" class="btn btn-success" (click)="updateUtilisateur(utilisateur.userId)">Modifier</button>
                <button type="button" class="btn btn-danger" (click)="deleteUtilisateur(utilisateur.userId)">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>


